<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ group.name }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<header class="position-relative">
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><h4>Модерация публикаций</h4></a>
        </li>
        <li class="nav-item position-absolute top-0 end-0 px-5 py-2">
            <a href="/logout">Выйти</a>
        </li>
    </ul>
</header>
<body>
    <div class="container-md">
        <div class="row">
            <!-- Паттерны -->
            <div class="col-8">
                <div class="container-sm bg-light rounded-5 p-1 mt-5">
                    <form class="m-4" method="post" action="/groups/{{ group.id }}/patterns/create">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Добавить паттерн" aria-label="Паттерн" aria-describedby="button-addon2" name="pattern">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Добавить</button>
                        </div>
                    </form>

                    <div class="container-sm mt-5">
                        {% if not patterns %}
                            <p class="text-center text-secondary">Список паттернов пуст...</p>
                        {% else %}
                            <p class="text-secondary">Список паттернов:</p>
                        {% endif %}
                        <div class="container-fluid d-md-inline-block p-2">
                        {% for pattern in patterns %}
                                <a href="/groups/{{ group.id }}/patterns/{{ pattern.pattern_id }}/delete" class="btn btn-outline-danger btn m-2" role="button">{{ pattern.pattern }}</a>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Сообщество и чаты -->
            <div class="col-4">
                <!-- Сообщество -->
                <div class="row">
                    <div class="container-sm bg-light rounded-5 p-3 mt-5">
                        <p class="text-secondary">Сообщество:</p>
                        <!-- Карточка сообщества -->
                        <div class="container-fluid pt-3">
                            {% if group.is_disable %}
                                <p class="text-secondary pe-3">[Отключено]</p>
                            {% endif %}
                            <div class="row">
                                <div class="col-sm-2 px-1 d-md-flex justify-content-center">
                                    <img src="{{ group.photos|last }}" class="img-fluid rounded-circle" alt="..." style="max-width: 70%">
                                </div>
                                <div class="col-sm-8 d-md-flex justify-content-start">
                                    <p><a href="{{ group.url }}" target="_blank" class="link-offset-2 link-underline link-underline-opacity-0"><h5>{{ group.name }}</h5></a></p>
                                </div>
                                <div class="col d-md-flex justify-content-end">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <ul class="dropdown-menu">
                                            {% if group.is_disable %}
                                                <li><a class="dropdown-item" href="/groups/{{ group.id }}/activate">Активировать</a></li>
                                            {% else %}
                                                <li><a class="dropdown-item" href="/groups/{{ group.id }}/disable">Отключить</a></li>
                                            {% endif %}
                                            <li><a class="dropdown-item" href="/groups/{{ group.id }}/delete">Удалить</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- Обновить токен сообщества -->
                            <form action="/{{ group.id }}/" method="POST">
                                {% csrf_token %}
                                <div class="mb-3 mt-5">
                                    <textarea placeholder="Ключ доступа сообщества" class="form-control" id="access_token" rows="3" name="access_token" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip" data-bs-title="Получение ключа сообщества: Настройки -> Работа с API -> Ключи доступа"></textarea>
                                </div>
                                <button type="submit" class="btn btn-outline-primary w-100">Обновить</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Чаты -->
                <div class="row">
                    <div class="container-sm bg-light rounded-5 p-3 mt-2">
                        <!-- Беседа -->
                        {% if not chats.active and not chats.inactive %}
                            <p class="text-center text-secondary">Список бесед пуст...</p>
                        {% endif %}

                        <!-- Активные чаты сообщества -->
                        {% if chats.active %}
                            <p class="text-secondary">Активные беседы сообщества:</p>
                        {% endif %}

                        {% for chat in chats.active %}
                            <div class="container-fluid pt-3">
                                <div class="row">
                                    <div class="col-sm-8 d-md-flex justify-content-start">
                                        <p><a href="{{ chat.invite_link }}" target="_blank" class="link-offset-2 link-underline link-underline-opacity-0"><h5>{{ chat.title }}</h5></a></p>
                                    </div>
                                    <div class="col-sm-4 d-md-flex justify-content-end">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/groups/{{ group.id }}/chats/{{ chat.peer_id }}/disable">Деактивировать</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        {% endfor %}

                        <!-- Неактивные чаты сообщества -->
                        {% if chats.inactive %}
                            <p class="text-secondary">Неактивные беседы сообщества:</p>
                        {% endif %}

                        {% for chat in chats.inactive %}
                            <div class="container-fluid pt-3">
                                <div class="row">
                                    <div class="col-sm-8 d-md-flex justify-content-start">
                                        <p><a href="{{ chat.invite_link }}" target="_blank" class="link-offset-2 link-underline link-underline-opacity-0"><h5>{{ chat.title }}</h5></a></p>
                                    </div>
                                    <div class="col-sm-4 d-md-flex justify-content-end">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="/groups/{{ group.id }}/chats/{{ chat.peer_id }}/activate">Активировать</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>