<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<header class="position-relative">
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"><h4>Модерация публикаций</h4></a>
        </li>
        <li class="nav-item position-absolute top-0 end-0 px-5 py-2">
            <a href="/logout">Выйти</a>
        </li>
    </ul>
</header>
<body>
    <div class="container-md">
        <div class="row">
            <div class="col-8">
                <!-- Сообщества -->
                <div class="container-sm bg-light rounded-5 p-1 mt-5">
                    <!-- Поиск сообщества -->
                    <form class="m-4" method="get">
                        <div class="input-group mb-3">
                            {% if search %}
                                <input type="text" class="form-control" value="{{ search }}" placeholder="Поиск сообщества" aria-label="Название сообщества" aria-describedby="button-addon2" name="search">
                            {% else %}
                                <input type="text" class="form-control" placeholder="Поиск сообщества" aria-label="Название сообщества" aria-describedby="button-addon2" name="search">
                            {% endif %}
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Найти</button>
                        </div>
                        <div class="form-check form-check-inline">
                            {% if disabled %}
                            	<input class="form-check-input" type="checkbox" checked value="True" id="flexCheckDefault" name="disabled">
                            {% else %}
                                <input class="form-check-input" type="checkbox" value="False" id="flexCheckDefault" name="disabled">
                            {% endif %}

                            <label class="form-check-label" for="flexCheckDefault">Отключенные сообщества</label>
                        </div>
                    </form>

                    <!-- Список сообществ -->
                    <div class="container-sm mt-5">
                        {% if not groups %}
                            <p class="text-center text-secondary">Список сообществ пуст...</p>
                        {% else %}
                            <p class="text-secondary">Список сообществ:</p>
                        {% endif %}

                        {% for group in groups %}
                        <!-- Карточка сообщества -->
                        <div class="container-fluid pt-3">
                            <div class="row">
                                <div class="col-sm-2 px-1 d-md-flex justify-content-center">
                                    <img src="{{ group.photos|last }}" class="img-fluid rounded-circle" alt="..." style="max-width: 70%">
                                </div>
                                <div class="col-sm-8 d-md-flex justify-content-start">
                                    {% if not group.is_disable %}
                                        <p><a href="{{ group.url }}" target="_blank" class="link-offset-2 link-underline link-underline-opacity-0"><h5>{{ group.name }}</h5></a></p>
                                    {% else %}
                                        <p class="text-secondary pe-3">[Отключено]</p>
                                        <p><a href="{{ group.url }}" target="_blank" class="link-offset-2 link-underline link-underline-opacity-0"><h5 class="text-secondary">{{ group.name }}</h5></a></p>
                                    {% endif %}
                                </div>

                                <!-- Управление сообществом -->
                                <div class="col d-md-flex justify-content-end">
                                    <div class="dropdown">
                                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="/{{ group.screen_name }}">Подробнее</a></li>
                                            {% if not group.is_disable %}
                                                <li><a class="dropdown-item" href="/groups/{{ group.id }}/disable">Отключить</a></li>
                                            {% else %}
                                                <li><a class="dropdown-item" href="/groups/{{ group.id }}/activate">Включить</a></li>
                                            {% endif %}

                                            <li><hr class="dropdown-divider"></li>
                                            <li><a class="dropdown-item" href="/groups/{{ group.id }}/delete">Удалить</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>

                    {% if groups %}


                    <!-- Пагинация -->
                    <div class="container-fluid d-md-flex justify-content-center mt-5">
                        <nav aria-label="Пагинация">
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Предыдущая"><span aria-hidden="true">&laquo;</span></a></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link disabled" href="#" aria-label="Предыдущая"><span aria-hidden="true">&laquo;</span></a></li>
                                {% endif %}

                                {% for page in paginator.page_range %}
                                    {% if page == page_obj.number %}
                                        <li class="page-item"><a class="page-link active" href="#">{{ page }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if page_obj.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Следующая"><span aria-hidden="true">&raquo;</span></a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link" href="#" aria-label="Следующая"><span aria-hidden="true">&raquo;</span></a></li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                {% endif %}
                </div>
            </div>

            <!-- Добавление сообщества -->
            <div class="col-4">
                {% if "ADD_GROUP_ERROR" in errors %}
                    <div class="alert alert-danger alert-dismissible fade show rounded-4 mt-5" role="alert">
                        <strong>Что-то пошло не так!</strong> Не удалось добавить группу. Проверьте ключ доступа сообщества.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Закрыть"></button>
                    </div>
                {% endif %}

                <div class="container-sm bg-light rounded-5 p-4 mt-5">
                    <form action="/" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="group_ident" class="form-label">Сообщество</label>
                            <input type="text" class="form-control" id="group_ident" aria-describedby="group_ident" name="group_ident">
                            <div id="group_ident" class="form-text">Ссылка, короткий адрес или идентификатор сообщества</div>
                        </div>
                        <div class="mb-3">
                            <label for="access_token" class="form-label">Ключ доступа сообщества</label>
                            <textarea class="form-control" id="access_token" rows="6" name="access_token" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip" data-bs-title="Получение ключа сообщества: Настройки -> Работа с API -> Ключи доступа"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Добавить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.3"></script>
</body>
</html>