<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Вход</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body style="width: 100%; height: 100%;">
    <div class="container position-absolute top-50 start-50 translate-middle">
        <h2 class="text-center">Административная панель</h2>

        <!-- Вывод сообщения об ошибке -->
        <div class="container" style="max-width: 450px">
        {% if errors %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <p class="text-center m-0">
                    <strong>Не удалось войти!</strong> Проверьте имя пользователя и пароль.
                </p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        </div>

        <div class="container shadow-sm p-3 mb-5 bg-body-tertiary rounded-3" style="max-width: 350px">
            <form action="/login/" method="post">
                {% csrf_token %}

                <div class="mb-4">
                    <!--<label class="form-label" for="email">Адрес электронной почты:</label>-->
                    <input class="form-control" id="username" name="username" placeholder="Имя пользователя" value="{{ form.username.value|default_if_none:'' }}">
                </div>

                <div class="mb-3">
                    <!--<label class="form-label" for="password">Пароль:</label> -->
                    <input class="form-control" type="password" id="password" name="password" placeholder="Пароль" value="{{ form.password.value|default_if_none:'' }}">
                </div>

                <div class="d-grid">
                    <button class="btn btn-outline-primary" type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/core@1.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.3"></script>
</body>
</html>